* {
	box-sizing: border-box;
}

footer {
    padding: 1px 20%;
}

.sitefooter {
	bottom: auto;
	width: 100%;
	background-color: rgb(65, 57, 61);
	text-align: center;
}

p a {
	text-decoration: none;
	color: rgb(190, 30, 45);
    align-items: center;
}

main {
    min-height: calc(100vh - 130px - 184px);
    background-color: rgb(240, 240, 240);
}

.paratext {
	color: rgb(65, 57, 61);
	background-color: transparent;
	text-align: center;
    width: 59.46vw;
    margin: auto;
	font-size: 20px;
}

.homeheaders {
	color: rgb(65, 57, 61);
	background-color: transparent;
	text-align: center;
	font-size: 30px;
}

.homeimage {
	height: auto;
	width: 59.46vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.twoimage {
	width: 100%;
}

.twoimage img {
	width: 29.73vw;
	height: auto;
}

img {
	margin: 0 auto;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:hover:not(.top) {
	background-color: rgb(138, 140, 143);
	color: white;
}

tr:nth-child(1) {
	background-color: white;
}

/* Navigation */
.navbar {
	width: 100%;
	background-color: rgb(65, 57, 61);
}

header {
	align-items: center;
	padding: 0px 20%;
}


body {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(65, 57, 61);
	width: 100%;
    align-items: center;
}

form {
  text-align: center;
}

.actualnav {
	position: sticky;
	top: 0;
}

li {
	float: left;
	border-right: 1px solid rgb(138, 140, 143);
}

li:nth-last-child(2) {
	border-right: none;
}

li:last-child {
    border-left: 1px solid rgb(138, 140, 143);
	border-right: none;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: none;
}

li a:hover:not(.active) {
	background-color: rgb(138, 140, 143);
	color: white;
}

.active {
	background-color: rgb(190, 30, 45);
}

.logo-div {
	text-align: center;
	width: 59.46vw;
}

/* Font Classes for ease of use */

.nofont {
	font-family: none;
	font-weight: 500
}

.font {
	font-family: athelas, serif;
	font-weight: 400;
	font-style: normal;
}

.boldfont {
	font-family: athelas, serif;
	font-weight: 700;
	font-style: normal;
	
}

a.button {
	text-decoration: none;
	color: white;
	background-color: rgb(65, 57, 61);
	border: 2px solid rgb(138, 140, 143);
	border-radius: 10px;
	transition-duration: 0.3s;
	padding: 10px;
}

a.button:hover {
	border: 2px solid rgb(65, 57, 61);
	background-color: rgb(138, 140, 143);
	color: rgb(65, 57, 61);
}

.fourth-container {
	border-radius: 10px;
	width: 64vw;
	height: 250px;
	text-align: center;
	margin: auto;
	background-color: rgb(240, 78, 35);
}

.imageround {
	 border-radius: 10px;
}

.formbox {
	width: 59.46vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	background-color: rgb(190, 30, 45);
	border-radius: 10px;
	border-radius: 10px;
}
.formboxgreen {
	width: 59.46vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	background-color: rgb(215, 228, 194);
	border-radius: 10px;
}

label {
	font-size: 25px;
	color: white;
}

input {
	border-radius: 5px;
	font-size: 15px;
}

input[type=submit] {
	border-radius: 7px;
	width: 59.46vw;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 15px;
	color: white;
	background-color: rgb(65, 57, 61);
}

.rightpicture {
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
	float: right;
	width: auto;
	height: 250px;
}

.rightpicture-200 {
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
	float: right;
	width: auto;
	height: 200px;
}

.leftpicture {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: auto;
	height: 250px;
	float: left;
}

.toplogo {
	width: auto;
	height: 130px;
}

.roundbox {
	width: 64vw;
	text-align: center;
	margin: auto;
	background-color: rgb(190, 30, 45);
	border-radius: 10px;
	padding-bottom: 4px;
}

.containter {
	width: 64vw; 
	margin: auto;
}

.twoimagediv {
	width: 64vw;
	text-align: center;
	margin: auto;
	background-color: rgb(190, 30, 45);
	border-radius: 10px;
	padding-top: 4px;
}

.colorwhite {
	color: white;
}

.slide {
	float: right;
	margin: auto;
	width: 64vw;
}

.slidel {
	float: left;
	margin: auto;
	width: 64vw;
}

.font25 {
	font-size: 25px;
}

.footercontact {
	color: rgb(215, 228, 194);
	padding: 5px 0px;
}

.noborder {
	border: none;
}

.floatnoborder {
	float: right;
	border: none;
}

.lightgreen {
	color: rgb(215, 228, 194);
}

.rightfloat {
	float: right;
}

.ul0padding {
	padding: 0;
}

.tablecss {
	width: 59.46vw;
	text-align: center;
	font-size: 25px;
}

.centertext {
	text-align: center;
}

.borderradius {
	border-radius: 5px;
}

.fourth-container-green {
	border-radius: 10px;
	width: 64vw;
	height: 250px;
	text-align: center;
	margin: auto;
	background-color: rgb(215, 228, 194);
}

.fourth-container-red {
	border-radius: 10px;
	width: 64vw;
	height: 250px;
	text-align: center;
	margin: auto;
	background-color: rgb(213, 162, 141);
}

.fourth-container-red-auto {
	border-radius: 10px;
	width: 64vw;
	height: auto;
	text-align: center;
	margin: auto;
	background-color: rgb(213, 162, 141);
}

.fourth-container-200 {
	border-radius: 10px;
	width: 64vw;
	height: 200px;
	text-align: center;
	margin: auto;
	background-color: rgb(213, 162, 141);
}

.divpadding {
	width: 64vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	background-color: rgb(190, 30, 45);
	border-radius: 10px;
	padding-bottom: 25px;
}

.paratext-small {
	text-align: center;
    width: 64vw;
    margin: auto;
	font-size: 17px;
}

.leftpicture-event {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: auto;
	height: 250px;
	float: left;
}

.sitemap {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fourth-container-green-auto {
	border-radius: 10px;
	width: 64vw;
	height: auto;
	text-align: center;
	margin: auto;
	background-color: rgb(215, 228, 194);
}

.sitemap-con {
	max-width: 59.46vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
