.sitefooter {
	bottom: auto;
	width: 100%;
	background-color: rgb(65, 57, 61);
	text-align: center;
}

p a {
	text-decoration: none;
	color: rgb(240, 78, 35);
}

.paratext {
	color: rgb(65, 57, 61);
	background-color: transparent;
	text-align: center;
}

.homeheaders {
	color: rgb(65, 57, 61);
	background-color: transparent;
	text-align: center;
}

.homeimage {
	height: auto;
	width: 1080px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.twoimage {
	width: 100%;
}

.twoimage img {
	width: 540px;
	height: auto;
}

img {
	margin: 0 auto;
}


/* Navigation */

body {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0;
	overflow: hidden;
	background-color: rgb(65, 57, 61);
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid rgb(138, 140, 143);
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: none;
}

li a:hover:not(.active) {
	background-color: rgb(138, 140, 143);
	color: white;
}

.active {
	background-color: rgb(190, 30, 45);
}

.logo-div {
	text-align: center;
}


/* Font Classes for ease of use */

.nofont {
	font-family: none;
	font-weight: 500
}

.font {
	font-family: athelas, serif;
	font-weight: 400;
	font-style: normal;
}

.boldfont {
	font-family: athelas, serif;
	font-weight: 700;
	font-style: normal;
}